{% extends "_base.html" %}

{% block main %}

<div class="text-center">
    <h1 class="display-3 title">Welcome to Open Publisher</h1>

    <h4 class="text-muted text-shadow">
        An open-source protocol for decentralized scientific publishing
    </h4>
    <p>
        Receive permanent proof-of-ownership of your data and
        share it with the world instantly without the need for a third-party publishing company.
    </p>
    <p>
       Powered by the 
        <a href="https://ethereum.org/en/" target="blank">Ethereum</a>
        blockchain and <a href="https://ipfs.io/" target="blank">IPFS network</a>.
    </p>

</div>

<hr class="my-3">

<h3 class="my-5 text-center">
    What is Open Publisher?<br>
    <span class="text-muted">Here are two different answers.</span>
</h3>

<div class="row">

    <div class="col mx-4 cdiv">

        <h4 class="text-muted text-shadow text-center">
            I am comfortable with blockchains
        </h4>
        <hr>
        write to blockhain storage, hash files, mint NFTs, etc..

    </div>

    <div class="col mx-4 cdiv">

        <h4 class="text-muted text-shadow text-center">
            I am new to blockchains
        </h4>
        <hr>
        submit a publication and recieve a permanent digital receipt to prove ownership, etc..


        
        
    </div>


</div>



{% endblock %}



