{% extends "_base.html" %}

{% block main %}

<div class="text-center">
    <h1 class="display-3 title">Welcome to Open Publisher</h1>

    <h4 class="text-muted text-shadow">
        An open-source protocol for decentralized scientific publishing
    </h4>
    <p>
        Receive permanent proof-of-ownership of your data and
        share it with the world instantly without the need for a third-pary publishing company.
    </p>
    <p>
       Powered by the 
        <a href="https://ethereum.org/en/" target="blank">Ethereum</a>
        blockchain and <a href="https://ipfs.io/" target="blank">IPFS network</a>.
    </p>




</div>




{% endblock %}



