{% extends "_base.html" %}

{% block scripts %}
<script src="static/js/publish.js"></script>
{% endblock %}


{% block main %}





    <h4>Enter publication details</h4>
    <p>This information will be sent to the OpenPub smart contract.</p>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Upload file</label>
        <div class="col-sm-10">
        <input class="form-control" type="file" id="pub-file" accept=".csv,.CSV,.json,.JSON,.zip,.ZIP">
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Title</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="pub-title" placeholder="Enter publication title here...">
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="pub-description" placeholder="Enter publication description here...">
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Authors</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="pub-authors" placeholder="Enter comma separated list of authors here...">
        </div>
    </div>


    <button class="btn btn-lg btn-primary mt-3" id="submit-btn">Submit</button>




{% endblock %}

